.blocks-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
  padding-top: 30px;
}

.block-right,
.block-left {
  border: solid;
  border-radius: 10px;
  border-color: red;
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 30px;
  /*height: 900px;*/
}

.block-center {
  border: solid;
  border-radius: 10px;
  border-color: red;
  margin-top: 50px;
  /*display: inline-block;*/
  background-color: rgb(118, 146, 255);
}

.schedule,
.class-personnel{
  border: solid;
  border-radius: 10px;
  border-color: blue;
  display: block;
  row-gap: 30px;
  background-color: rgb(118, 146, 255);
}

.schedule {
  height: 400px;
}

.homework,
.tests {
  border: solid;
  border-radius: 10px;
  border-color: blue;
  display: block;
  row-gap: 30px;
  background-color: rgb(118, 146, 255);
}

.column1,
.column2,
.column3,
.column4,
.column5 {
  display: flex;
  flex-direction: column;
  border: solid;
  border-radius: 10px;
  border-color: red;
  height: 100px;
  width: 100px;
  row-gap: 10px;
  column-gap: 10px;
}

.row1,
.row2,
.row3,
.row4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  row-gap: 10px;
  column-gap: 10px;
  border: solid;
  border-radius: 10px;
  border-color: blue;
}

.teacher-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: solid;
  border-radius: 10px;
  border-color: blue;
  margin: auto;
}

.teacher {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: solid;
  border-radius: 10px;
  border-color: blue;
  margin: auto;
  height: 100px;
  width: 100px;
}

.schedule {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.schedule-period1,
.schedule-period2,
.schedule-period3,
.schedule-period4,
.schedule-period5,
.schedule-period6 {
  border: solid;
  border-radius: 10px;
  border-color: blue;
  height: 100%;
}

.student-image {
  width: 100%;
}

.student-name {
  position:relative;
  top: -100%;
}