body {
  background-color: rgb(242, 240, 239);
  font-family: Arial;
  color: rgb(33, 33, 33);
  /* The <body> element has a default margin of 8px
     on all sides. This removes the default margins. */
  margin: 0; 
}

/* <p> elements have a default margin on the top
   and bottom. This removes the default margins. */

p {
  margin: 0;
}

button {
  cursor: pointer;
}

.remove-button {
  background-color: red;
  border: solid 1px black;
  border-radius: 3px;
  justify-content: end;
  position: absolute;
  right: 30px;
  color: white;
  text-align: center;
  box-shadow: 0 0 2px black;
}

.remove-button:hover {
  background-color: darkred;
  transition: 0.25s;
  font-weight: 700;
}