.header {
  background-color: rgb(242, 240, 239);
  color: white;
  padding-left: 15px;
  padding-right: 15px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
}

.header-button {
  border: none;
  /*background-color: rgb(59, 53, 97);*/
  height: 60px;
  width: 100px;
  justify-content: center;
  align-items: center;
}

.header-button:hover {
  background-color: rgb(81, 163, 163);
  transition: 0.7s;
}

.studybook-logo {
  /*TODO: why logo not center align*/
  height: 50px;
  margin-right: 10px;
  align-items: center;
  flex: 1;
}

.header-left-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}