.header {
  background-color: 	rgb(59, 53, 97);
  color: white;
  padding-left: 15px;
  padding-right: 15px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
}

button {
  border-top: none;
  border-bottom: none;
  border-left: solid;
  border-right: solid;
  border-color: red;
  background-color: rgb(59, 53, 97);
  color: white;
  height: 60px;
  width: 100px;
  border-width: 1px;
  font-size: 20px;
}

.studybook-logo {
  /*TODO: why logo not center align*/
  height: 50px;
  margin-right: 10px;
  align-items: center;
  flex: 1;
}

.header-left-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}